@page "/documentation"
@inject NavigationManager NM
<PageTitle>Documentation &raquo; The Administrator</PageTitle>
<div hidden="@C6">
    <div class="flexy" hidden="@C7">
        <h2>About</h2>
        <p>This is “The Administrator” its version also known as “Adminique Beta”. It is a very simple display of administrative features that are digitized. Features such as: </p>
        <h3>Asset Management</h3>
        <p>Sometimes you may need to have the information of the value of your assets available at hand. Use "The Administrator" to display a present-day oversight of your assets.</p>
        <h3>Budget Management</h3>
        <p>You might use or need a planned monthly budget. For a quick oversight of or a unique perspective on your monthly budget, you use "The Administrator".</p>
        <h3>Financial Planning for Payments</h3>
        <p>If you would like a quick oversight of bills to pay and/or expected payments, this feature of "The Administrator" might be just what you need.</p>
        <h3>Administration of Hours</h3>
        <p>Are you busy with your administration of hours? Or would you simply like to reflect on the way your time is divided? "The Administrator" has got you covered.</p>
        <h3>Notabilities</h3>
        <p>There could be dozens of incoming and outgoing expenses in your account(s) every month. Sometimes, for administrative purposes or purposes of general reflection, you may want to view some expenses that are of special value. To view this is a feature of "The Administrator".</p>
    </div>
<div class="flexy" hidden="@C5">
    <h2> Budgeting for November </h2>
        <p>November finds itself in the middle of the last quarter of the year. October was all about the experience of the Fall season, for which we prepared in September (when it comes to our appearance and our attitude). The combination of finding comfort in the season of fall and meticulous spending, with some extra attention on savings, was, in October, our focus. </p>
        <p><a href="https://adminique.be/budgeting-for-october/">How is or was your October?</a> Have you found cozy comfort? Was your spending meticulous? I hope that you have started off the quarter beautifully. </p>
        <h3>Properties of November</h3>
        <p>November finds itself in the midst of a month that we devoted to philosophy and meticulous spending, and a month that is about togetherness and holidays: the last month of the year. In November, in the climax of the fall season, may our philosophy be even deeper than that of October, and may our spending be even more meticulous. </p>
        <p>In September, we intensively revised our paths. In October, we have practiced philosophy. Now, it is time to apply our, in October, deepened philosophy to the renewed pathways we embarked on in September. We have gained new experiences on our new paths. What have we learned from this? The things that we have learned now, could define the new objectives that we will state for January. </p>
        <p>You see, November is about change. Just like trees are in transition for the winter season with their leaves turning color, in October, we used more philosophy than before, because in the winter we limit our range of activities, which results in more time with philosophy and us. The turning color of leaves is a rather internal process, in comparison to the external where the leaves actually fall from the branches. In that same way, at first there is only philosophy, but later on the seasons might demand more physical labor for our households as well. In November, we change our physical and mental ways in preparation of December. </p>
        <p>What is most remarkable about November is that, given that December is the most traditionally festive month of the year, November finds itself at the dawn of the end-of-year festivity. It might feel as “the silence before the storm”. In “the silence”, we reflect on our earlier lessons and we find ourselves in the preparatory atmosphere of November as we are thinking ahead in preparation of further seasonal change. </p>
        <h3>Principles of November</h3>
        <p>There are no budgeting principles for November, because our spending is just as meticulous as in October. In November, we focus on our lessons of October, and clean up our administrations so that we can maximally enjoy ourselves in December. You might notice that – in comparison to August and September – no special expenses are made in both October and November. The more we manage to save in these months, the more lavishly we can live in December.</p>
        <p>Philosophy is inexpensive. You might have broadened your perspective over the month. I mean, you have developed your own philosophy on life for as long as you have lived. But just like nature and life are ever-evolving, the content of our minds is ever-evolving (along with that same process). You might still feel the psychological effects of a good book that you have read. What aspects of yourself does your new philosophy touch upon? Definitively change your philosophy on those aspects with philosophy in November. In December, you will appreciate that you have done this. </p>
        <p>In terms of taxation, for December, the government comes knocking at our doors to ask how our last quarter, as well as our entire year has been. Do not let this be a surprise. That is why, for November’s closings, we include the preparatory work of administration for December, the last quarter and the end of the year. </p>
</div>
<div class="flexy" hidden="@C4">
    <h2> Budgeting for December </h2>
        <p>Let us cheer, because December is here! It is the last month of the year, within which we have plenty to reflect upon. I hope that you are starting December off with a clear perspective, with the lessons that you have defined over October and November. May the togetherness of December lead you to new insights that help you define your direction in and after January. </p>
        <h3>Properties of December</h3>
        <p>In December, one must be free of any worry: may you enjoy yourself. May the practice of philosophy have been helpful in the process of reflecting on your path, so that it is clear to you where you stand right in this moment. And may your administration be organized enough for you to make expenses without having to overthink them.</p>
        <p>The first property of December is psychological. In terms of tolerance, people push themselves beyond their limits, because togetherness is a central factor. In contrast with the togetherness of December, we have been alone in our processes of personal growth. And even though our paths are all unique, we all acknowledge that everyone has worked hard over the year and that therefore, in December, we are extra kind to each other. Sure, they say “naughty or nice”, so there could be reason for some serious honesty, but all in all, we grow together in December.</p>
        <p>The second property of December is economic. December is a very definitive month in terms of the decisions that you have made over the year and where you stand now. That “behavioral economic” aspect goes in combination with what you will do for your community that month. </p>
        <p>The last property of December is also psychological. After all, it is the last month of the year. May you feel proud of yourself when you reflect on how your year was. It is important that you reflect on your year. Make sure that you note the lessons that you have learnt, and use them to define your objectives for January: the definition of your New Year’s Resolution. </p>
        <h3>Financial Principles of December</h3>
        <p>We have been spending money meticulously and making sure that our administrations are neat over October and November. This, amongst other reasons, to enjoy December’s togetherness to the fullest. May the most cherishable moments of togetherness be the yield of our hard work, and may you be able to reward those who have been working hard alongside you with something that you love to give. It leads to the following financial principles:</p>
        <ul>
            <li>To be mindful with our December budgets</li>
            <li>To keep our administrations neat</li>
        </ul>

        <h4>To be Mindful with our December Budgets</h4>
        <p>It would be a waste of our savings to mindlessly spend money on things that must be of symbolic value, without having been mindful about that which must have symbolic value first. Make sure that you take some time to reflect on the symbolic message(s) that you would like to convey. (Perhaps write it down first.) And then, after careful reflection, enjoy yourself when you are undertaking the steps that need to be taken to practice the art of giving. </p>
        <h4>To Keep our Administrations Neat</h4>
        <p>It is the closing month of the last quarter of the year. After administrative reflection in October and administrative cleanup in November, enjoy the fruit of your labor by, in December, keeping your administration up-to-date constantly. This makes it easier to find elements of administration when we need to, for evaluation purposes, for example. </p>
    </div>
<div class="flexy" hidden="@C3">
    <h2> Budgeting for January </h2>
    <p>It is January. I wish you a happy new year! I hope that you have enjoyed yourself in December, and that you have succeeded in finding and giving meaningful presents. How was it for you to reflect on your year? Have you succeeded in the preliminary definition of objectives for January?</p>
    <h3>Properties of January</h3>
        <p>January is the month of new objectives. Or, the way most people would state it, “new beginnings”. With last year’s end-of-year festivities, you have celebrated the end of something, and in January something new is started.</p>
        <p>What is your New Year’s Resolution? (If you would like to read a recommendation on how to define a good New Year’s Resolution, <a>click here</a>.) I hope that it is inclusive of plenty of beautiful philosophy. The New Year’s Resolution is a central theme in the month of January.</p>
        <p>The New Year’s Resolution is a combination of philosophy and objectives. Philosophy about where you stand at the beginning of the new year, where you have been and where you desire to be. You might better know what works for you and what does not work. Objectives could find themselves in the context of health and fitness, objectives of education, wealth-related objectives: the list of types is endless. May you find confidence in your New Year’s Resolution. That and the fact that the winter season has started, are the main properties of January.</p>
<h3>Financial Principles of January</h3>
<p>December was about the focus on togetherness. In terms of administration, therefore, it is not rare to be a little backlogged in January. But given that we want to start off the new year fresh and clean, it is important to close off last year’s administration and start a brand new one, both in the month of January. (And not sooner or later than the month of January.)</p>
        <p>Your administrative responsibilities for the month are likely related to national policies of taxation. It is best to keep your administration in a formatting that is compatible with the way in which your administration is called upon by the government.</p>
        <p>After all duties in the context of last year are finished, last year’s administration may be archived and it is time to start a new one. Are there lessons of your previous administration that you would like to implement in your new administration? (If you would like to receive recommendations on how to organize your administration, <a>click here</a>)</p>
</div>
<div class="flexy" hidden="@C2">
    <h2>About The Responsible Expense Calculator</h2>
        <p>You might be wondering: <i>“What is the purpose of a “Responsible Expense Calculator?”</i> or <i>“When would I use the “Responsible Expense Calculator?”</i> Well, the Responsible Expense Calculator is here to simplify making financial decisions in the context of “expensiveness”. It can be used to judge an expense as a call upon your budget. </p>
        <p>Here are some statements that exemplify scenarios in which the Responsible Expense Calculator could be used:</p>
        <p class="accent">“I only have limited funds to expend, but I would like to undertake something fun with my friends.”</p>
        <p class="accent">“I would like to buy this dress, but I have bills to pay.”</p>
        <p>The next question that might arise could be: <i>“Why is there a savings-ratio?”</i> </p>
        <p>Because maybe, when it comes to making expenses, the first thing that comes to mind is not how much you would not like to spend. There is a source of funds and there price to pay, in simple terms. But that you are buying something does not mean that the source of funds must be left empty. The savings-ratio is here to define how much of your budget must remain untouched.</p>
        <p>Here is an example:</p>
        <p>Individual A has a budget of €2000. Of that €2000, the individual would like to save €500 for reserved expenses. And he or she would like to buy a new phone that costs €1000. </p>
        <p>So the €500 of reserved expenses means that there is a savings-ratio of (“about”) 25%. Individual A, thus, has €1500 to spend. The €1000 for a new phone is affordable to individual A, but that €1000 takes up more than half of the budget its remainder could be considered as “risky”.  </p>
</div>
    <button @onclick="@Y1">Return</button>
</div>
<div class="flexy" hidden="@C1">
    <button @onclick="@X1">The Responsible Expense Calculator</button> <br/>
    <button @onclick="@X2">January</button>
    <button @onclick="@X3">December</button>
    <button @onclick="@X4">November</button>
    <button @onclick="@X6">Privacy Policy</button>
    <button @onclick="@X7">About</button>
</div>

@code {
    static public bool C7 { get; set; } = true;
    static public bool C6 { get; set; } = true;
    static public bool C5 { get; set; } = true;
    static public bool C4 { get; set; } = true;
    static public bool C3 { get; set; } = true;
    static public bool C2 { get; set; } = true;
    static public bool C1 { get; set; } = true;

    public void Y1()
    {
        C6 = true;
        C5 = true;
        C4 = true;
        C3 = true;
        C2 = true;
        C1 = false;
    }

    public void X7()
    {
        C1 = true;
        C2 = true;
        C3 = true;
        C4 = true;
        C6 = false;
        C7 = false;
    }

    public void X6()
    {
        UX.PageTitle = "Privacy Policy";
        UX.ToMenu = true;
        NM.NavigateTo("/privacy-policy");
    }

    public void X4()
    {
        C1 = true;
        C2 = true;
        C3 = true;
        C4 = true;
        C7 = true;
        C6 = false;
        C5 = false;
    }

    public void X3()
    {
        C1 = true;
        C2 = true;
        C3 = true;
        C5 = true;
        C7 = true;
        C6 = false;
        C4 = false;
    }

    public void X2()
    {
        C1 = true;
        C2 = true;
        C4 = true;
        C5 = true;
        C7 = true;
        C6 = false;
        C3 = false;
    }

    public void X1()
    {
        C1 = true;
        C3 = true;
        C4 = true;
        C5 = true;
        C7 = true;
        C6 = false;
        C2 = false;
    }

    protected override void OnInitialized()
    {
        C7 = true;
        C6 = true;
        C5 = true;
        C4 = true;
        C3 = true;
        C2 = true;
        C1 = false;
    }
}
