@page "/"
@inject NavigationManager NM

<div class="content" hidden="@C1">
<h2>Set your display name.</h2>
    <button @onclick="@X1">Click Here</button>
</div>
<div class="content" hidden="@C2">
    <div hidden="@Z3">
    <h2>January</h2>
        <p class="accent" hidden="@Y2C">"Happy 2025!"</p>
        <p class="accent" hidden="@Y2B">"New year, new you."</p>
        <p class="accent" hidden="@Y2A">"This is the year of us."</p>
    </div>

    <div hidden="@Z2">
    <h2>December</h2>
        <p class="accent" hidden="@Y2C">May you feel love and togetherness this December, once again. How are you celebrating the holidays?</p>
        <p class="accent" hidden="@Y2B">A year is never the same. What typifies your 2024?</p>
        <p class="accent" hidden="@Y2A">In our ups and downs, we always experience some form of growth. In what facets of your life have you experienced growth this year?</p>
    </div>

    <div hidden="@Z1">
        <h2>November</h2>
        <p class="accent" hidden="@Y2C">Especially this month, it is important to reflect. What is on your mind?</p>
        <p class="accent" hidden="@Y2B">Next month is about what truly matters. What is important to you?</p>
        <p class="accent" hidden="@Y2A">We often change our attitudes before the holiday season, with the lessons that we have learned in that same year. What is your "November Change" of this year?</p>
    </div>
</div>

@code {
    static public bool Y2C { get; set; } = true;
    static public bool Y2B { get; set; } = true;
    static public bool Y2A { get; set; } = true;

    static public bool Z3 { get; set; } = true;
    static public bool Z2 { get; set; } = true;
    static public bool Z1 { get; set; } = true;

    static public bool C1 { get; set; } = true;
    static public bool C2 { get; set; } = true;

    static public void Y1()
    {
        var x = DateTime.Now.ToString("MM");
        switch(x)
        {
            case "12":
                Z1 = true;
                Z3 = true;
                Z2 = false;
                break;
            case "01":
                Z1 = true;
                Z2 = true;
                Z3 = false;
                break;
            default:
                Z2 = true;
                Z3 = true;
                Z1 = false;
                break;
        }
    }

    static public void Y2()
    {
        var rnd = new Random();
        var z = rnd.Next(4);
        switch(z)
        {
            case 1:
                Y2C = true;
                Y2B = true;
                Y2A = false;
                break;
            case 2:
                Y2C = true;
                Y2A = true;
                Y2B = false;
                break;
            case 3:
                Y2B = true;
                Y2A = true;
                Y2C = false;
                break;
        }
    }

    public void X1()
    {
        UX.PageTitle = "Configuration";
        UX.ToMenu = false;
        NM.NavigateTo("/configuration");
    }

    protected override void OnInitialized()
    {
        UX.ToMenu = true;
        if (UX.UserIni == false)
        {
            C2 = true;
            C1 = false;
        }
        else
        {
            Y2();
            Y1();
            C1 = true;
            C2 = false;
        }
    }
}
